
data/__MACOSX/._stocknews
*.csv
data/.ipynb_checkpoints/Untitled-checkpoint.ipynb
data/Untitled.ipynb
data/.DS_Store
.DS_Store
data/GoogleNews-vectors-negative300.bin
data/lexvec.enwiki+newscrawl.300d.W.pos.vectors.gz
data/lexvec.pos.vectors
data/.DS_Store
.DS_Store
data/.DS_Store
.DS_Store
data/.DS_Store
.DS_Store
data/glove.6B.50d.txt
data/glove.6B.zip
data/glove.6B/glove.6B.100d.txt
data/glove.6B/glove.6B.200d.txt
data/glove.6B/glove.6B.300d.txt
data/glove_word2vec.model
data/glove_word2vec.model.vectors.npy
code/models/glove_word2vec.model
code/models/glove_word2vec.model.vectors.npy
code/models/train_accs.npy
code/models/train_losses.npy
code/models/glove.6B.50d.txt
